.plot{

border-radius: 5px;
border-color:#9ee8c4;
border-style: solid;
background-color:orange;
box-shadow:none;
margin:3px;
width:100px;
height:100px;
border-width: 2px;
box-shadow: inset;

}



.plotcont{
    margin-top:20px;
    display:inline-flex;
    flex-direction: column;
}

